.prices {
  height: 100vh;
  padding: 10px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ul {
    padding: 20px;

    li {
      list-style: none;
      padding: 10px;
      font-size: 1.2rem;
    }
  }

  .model-name {
    font-weight: bold;
  }
  .old-price {
    font-weight: bold;
    text-decoration: line-through;
    color: #888;
  }

  .new-price {
    font-weight: bold;
    color: #4caf50;
  }
  .total-price {
    font-weight: bold;
    color: #333;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    button {
      padding: 15px 20px;
      border-radius: 6px;
      font-size: 1.1rem;
      border: none;
      background-color: #3399ff;
      color: #ffff;
    }
  }
}
